.delete-icon {
    visibility: hidden;
}

.todo-item:hover .delete-icon {
    visibility: visible;
}

.todo-header {
    font-size: 80px;
    font-weight: 200;
    color: rgba(175, 47, 47, 0.2);
    text-align: center;
}

.todo-container {
    max-width: 500px;
    margin: 0 auto;
    background: white;
}